body {
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 100%;
    background-image: url("../images/bats.gif");
    }

    a { font-weight: bold; } 
    a:link { color: orange; } 
    a:visited { color: black;} 
    a:hover, 
    a:focus { color: green; }

    ul { 
        line-height: 1.5; 
        margin-left: 0px;
        padding-left: 20px;
    
    } 

    li, p { font-size: 95%; } 
    em { font-weight: bold; }


    /* the styles for the header */ 
     h1 {
    
    font-size: 220%; 
    color: #1a1816; 
    margin-bottom: 0px;
    margin-top: 0px;

    } 
    h2 {
        font-size: 130%;
        
      }
     h3::first-letter {
    font-size: 250%; 

    text-align: left;
    }
    h4 {
        font-size: 130%; 
        text-align: left;

        }
        h5 {
            font-size: 110%; 
            text-align: left;

            }
    /* the styles for the main content */ 
    main { clear: left; } 
    h2 { font-size: 120%; } 
    main { font-size: 130%; }
     p.indent { text-indent: 2em; } 
     a.date_passed { color: gray; }
    /* the styles for the footer */ 
    footer p {
        font-size: 80%; 
        text-align: center;
    }
    /*the styles for my wrapper section*/
    section.wrapper { 
        border:2px solid black;
        max-width: 700px;
        margin: 0 auto;
        margin-top: 30px;
        width: 100%;
        background-color: white;
        -webkit-box-shadow: 0px 2px 15px 5px rgba(0,0,0,0.87); 
        box-shadow: 0px 2px 15px 5px rgba(0,0,0,0.87);
    }
    /*the styles for my header*/
    .header{
        padding:24px 24px;
        background: linear-gradient(45deg, #ffffff 0%,#efa22d 61%,#000000 100%);
        border-bottom: 2px solid #000000;
        display: flex;
        align-items: center;
        gap: 30px;
    }
    /*the styles for my h2 in my title*/
    .title h2{
        margin-top: 5px;
    }
    /*the styles for my content*/
    
    /*the styles for my footer*/
    .footer{
        padding: 10px 24px;
        text-align: center;
        background: linear-gradient(45deg,  #000000 0%,#efa22d 40%,#ffffff 100%);
        border-top:2px solid #000000;
    }
    /* this stles my main */
    .main{
        align-items: start;
        display: flex;
        flex-direction: row-reverse;
        padding: 24px;
        gap: 30px;
    }
    /* This makes it so my Special FX doesn't go to 2 lines */
    aside{
        flex-shrink: 0;
    }
    /* This makes it so my top h3 doesn't get shifted down */
    .m-t-0{
        margin-top: 0px;
    }